* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
ol,
ul {
  list-style: none;
}
